body {
	background-color: #e5f4fb;
	font-family: 'Inconsolata', monospace;
	font-size: calc(16px + 1vw);
	margin: 0 0.5rem;
	padding: 0;
}
.main-header {
	height: 3rem;
	margin: 0.5rem 0.5rem;
}
ul {
	margin: inherit;
	padding: inherit;
	list-style-type: none;
}
nav {
	height: 100%;
	ul {
		height: inherit;
		display: flex;
		flex-direction: row;
		list-style-type: none;
		a {
			display: inline-block;
			height: 100%;
			line-height: 3rem;
			text-align: center;
		}
	}
	li {
		margin-left: 0.8rem;
	}
	li:first-child {
		flex-grow: 2;

	}
	img {
		height: 100%;
		margin-left: -2.8rem;
		width: 100px;
	}
}
main {
	margin-top: 1.618rem;
	header {
		margin: 0;
	}
	p {
		margin: 0 0 0.5rem 0;
	}
}
.article-date {
	display: block;
	font-size: 1rem;
	margin: 1rem 0;
}
.article-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.article-item {
	background-color: #eceff4;
	padding: 0.5rem;
	margin-bottom: 1rem;
	-webkit-box-shadow: 2px 2px 7px 0px rgba(177,195,224,1);
	-moz-box-shadow: 2px 2px 7px 0px rgba(177,195,224,1);
	box-shadow: 2px 2px 7px 0px rgba(177,195,224,1);
}
.article-title {
	display: block;
	font-family: 'Abel', sans-serif;
	font-size: 2rem;
	margin-bottom: 0.5rem;
}
.link-color {
	color: #005397;
	&:hover {
		color: #cc0033;
	}
}
.fn-default {
	font-size: 1rem;
}
@media only screen and (min-width: 601px) {
	article {
		width: 80%;
		margin: 0 auto;
	}
	.article-item {
		width: 80%;
		margin: 0 auto 1rem;
	}
}
@media only screen and (min-width: 801px) {
	article {
		width: 60%;
	}
	.article-item {
		width: 60%;
	}
}
@media only screen and (min-width: 1001px) {
	.fn-default {
		font-size: 1.618rem;
	}
	.article-title {
		font-size: 2.618rem;
	}
	nav img {
		margin-left: 0rem;
		padding-left: 6rem;
	}
}
@media only screen and (min-width: 1299px) {
	.main-header {
		width: 90%;
		margin: 0.5rem auto;
	}
}
@media only screen and (min-width: 1919px) {
	.main-header {
		width: 70%;
	}
	article {
		width: 50%;
	}
	.article-item {
		width: 50%;
	}
}
@media only screen and (min-width: 2549px) {
	.main-header {
		width: 50%;
	}
	article {
		width: 30%;
	}
	.article-item {
		width: 30%;
	}
}
