body {
	background-color: #e5f4fb;
	margin: 0;
	padding: 0;
	font-size: calc(16px + 1vw);
	margin: 0 0.5rem;
}
header {
	height: 3rem;
	margin: 0.5rem 0.5rem;
}
ul {
	margin: inherit;
	padding: inherit;
	list-style-type: none;
	a {
		color: #005397;
		font-family: 'Rubik', sans-serif;
		font-size: 1.618rem;
		&:hover {
			color: #cc0033;
		}
	}
}
p {
	font-family: 'Inconsolata', monospace;
}
nav {
	height: 100%;
	ul {
		height: 100%;
		display: flex;
		flex-direction: row;
		list-style-type: none;
		a {
			display: inline-block;
			font-size: 1.2rem;
			height: 100%;
			line-height: 3rem;
			text-align: center;
		}
	}
	li {
		margin-left: 0.8rem;
	}
	li:first-child {
		flex-grow: 2;
		margin-left: -18px;
	}
	img {
		height: 100%;
		width: 100px;
	}
}
main {
	margin-top: 1.5rem;
	li {
		background-color: #eceff4;
		padding: 0.5rem;
		margin-bottom: 1rem;
		-webkit-box-shadow: 2px 2px 7px 0px rgba(177,195,224,1);
		-moz-box-shadow: 2px 2px 7px 0px rgba(177,195,224,1);
		box-shadow: 2px 2px 7px 0px rgba(177,195,224,1);
	}
	p {
		margin: 0.5rem 0 0;
	}
}

